{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">

<h2>Время приготовления: 50 минут</h2>
<h2>ШАГ 1</h2>
    <h5>Очищенный картофель и морковь натереть на крупной терке, добавить мясной фарш, сырое яйцо, соль, лук, молотый перец.</h5>
<h2>ШАГ 2</h2>
    <h5>Сформовать тефтели, обвалять в муке, обжарить.</h5>
<h2>ШАГ 3</h2>
    <h5>Выложить изделия в кастрюлю, залить любимой подливой, тушить 15 минут.</h5>
</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}