{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Шампиньоны вымыть, нарезать тонкими пластинками.</h5>
    <h2>ШАГ 2</h2>
        <h5>Репчатый лук вымыть и очистить, нарезать тонкими полукольцами.</h5>
    <h2>ШАГ 3</h2>
        <h5>Прогреть сковороду со сливочным маслом.</h5>
    <h2>ШАГ 4</h2>
        <h5>Выложить грибы и половину луковой нарезки. Потушить под крышкой.</h5>
    <h2>ШАГ 5</h2>
        <h5>После испарения влаги продукты переложить в миску для остывания.</h5>
    <h2>ШАГ 6</h2>
        <h5>Говяжью вырезку нарезать поперек волокон ломтиками толщиной в один сантиметр. Отбить ломтики молотком.</h5>
    <h2>ШАГ 7</h2>
        <h5>Соль и перец – по вкусу, выложить мясо стопкой на некоторое время для пропитывания.</h5>
    <h2>ШАГ 8</h2>
        <h5>Прогреть духовку до 190 градусов.</h5>
    <h2>ШАГ 9</h2>
        <h5>Противень застелить пергаментом, выложить слой лука, сверху – мясо.</h5>
    <h2>ШАГ 10</h2>
        <h5>Далее – кусочки сливочного масла, грибная начинка. Разложить ингредиенты равномерно.</h5>
    <h2>ШАГ 11</h2>
        <h5>Натереть сыр, посыпать блюдо сверху.</h5>
    <h2>ШАГ 12</h2>
        <h5>Полить сметаной или майонезом.</h5>
    <h2>ШАГ 13</h2>
        <h5>Время запекания в духовом шкафу – от тридцати до сорока минут.</h5>
</div>

<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}