{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Промыть мясо, обсушить многослойным бумажным полотенцем.</h5>
    <h2>ШАГ 2</h2>
        <h5>Порезать зубки чеснока на клинышки, нашпиговать ими мясо со всех сторон.</h5>
    <h2>ШАГ 3</h2>
        <h5>Залить в небольшой мисочке специи маслом, добавить горчицу, перемешать, обмазать этой пастой мясо, обернуть его
        несколькими слоями фольги, поставить на 12 часов в холодильник.</h5>
    <h2>ШАГ 4</h2>
        <h5>Уложить промаринованное мясо в фольге в форму, поместить в прогретую до 200 градусов духовку на полтора-два часа.</h5>
    <h2>ШАГ 5</h2>
        <h5>Запеченная свинина в горчичном маринаде в фольге будет готова, когда при протыкании ее ножом будет выделяться
        светлый и прозрачный сок.</h5>
    <h2>ШАГ 6</h2>
        <h5>После этого аккуратно надрезать фольгу, отогнуть края, продолжить запекать еще минут 15 до образования на
        поверхности мяса коричневатой корочки.</h5>

</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}