{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
<h2>Время приготовления: 1 час 30 минут</h2>
<h2>ШАГ 1</h2>
    <h5>Свинину хорошо промыть под проточной водой, обсушить и нарезать кубиками небольшого размера.</h5>
<h2>ШАГ 2</h2>
    <h5>Очистить сырой картофель, нарезать кубиками такого же размера.</h5>
<h2>ШАГ 3</h2>
    <h5>Очистить морковь и лук от кожуры, нарезать кольцами, а затем четвертинками.</h5>
<h2>ШАГ 4</h2>
    <h5>Перемешать, жарить до прозрачности лука.</h5>
<h2>ШАГ 5</h2>
    <h5>В сковороду влить воду, она должна покрыть мясо.</h5>
<h2>ШАГ 6</h2>
    <h5>Всыпать приправы, тушить жаркое двадцать минут на среднем огне под крышкой.</h5>
<h2>ШАГ 7</h2>
    <h5>Добавить воду и картофель.</h5>
<h2>ШАГ 8</h2>
    <h5>При готовности картофеля положить на сковороду томатную пасту, перемешанную с сахаром, солью и разведенную водой.</h5>
<h2>ШАГ 9</h2>
    <h5>За минуту до готовности заправить блюдо нарезанной зеленью и чесноком.</h5>
<h2>ШАГ 10</h2>
    <h5>В жаркое можно добавить сметанный соус с зеленью, соевый, лимонный или горчицу.</h5>
<h2>ШАГ 11</h2>
    <h5>К жаркому также можно подать аджику или кетчуп.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}