{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Мягкое и постное мясо нарезать тонкими ломтиками, отбить молоточком с двух сторон.</h5>
    <h2>ШАГ 2</h2>
        <h5>Нарезать соломкой в полтора сантиметра шириной.</h5>
    <h2>ШАГ 3</h2>
        <h5>Поставить сотейник на плиту, влить растительное масло, прогреть.</h5>
    <h2>ШАГ 4</h2>
        <h5>Выложить мясо, перемешать.</h5>
    <h2>ШАГ 5</h2>
        <h5>Жарить до испарения сока на огне средней мощности.</h5>
    <h2>ШАГ 6</h2>
        <h5>Добавить нарезанный полукольцами лук, жарить несколько минут, помешивать.</h5>
    <h2>ШАГ 7</h2>
        <h5>Влить стакан воды, тушить блюдо полчаса на тихом огне.</h5>
    <h2>ШАГ 8</h2>
        <h5>Всыпать муку, быстро перемешать, влить сметану, перемешать. Соль и перец молотый – по вкусу.</h5>
    <h2>ШАГ 9</h2>
        <h5>Прогреть до загустевания.</h5>
    <h2>ШАГ 10</h2>
        <h5>Долить бульон или воду, перемешать, довести до кипения.</h5>
    <h2>ШАГ 11</h2>
        <h5>Тушить под крышкой говядину еще десять минут. Подать к столу горячим.</h5>

</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}