{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час 10 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Растопить в сотейнике сливочное масло, обжарить муку до изменения цвета.</h5>
    <h2>ШАГ 2</h2>
        <h5>Добавить молоко, вливать его нужно тонкой струйкой и сразу размешивать.</h5>
    <h2>ШАГ 3</h2>
        <h5>Соус проварить до загустения, огонь выключить.</h5>
    <h2>ШАГ 4</h2>
        <h5>Отварить картофель почти до готовности, остудить, очистить, нарезать тонкими пластинками.</h5>
    <h2>ШАГ 5</h2>
        <h5>Репчатый лук нашинковать полукольцами, выложить на противень с растительным маслом.</h5>
    <h2>ШАГ 6</h2>
        <h5>Свиные отбивные присыпать специями, выложить на луковую подушку.</h5>
    <h2>ШАГ 7</h2>
        <h5>Поверх – кружки картофеля, полить соусом «Бешамель».</h5>
    <h2>ШАГ 8</h2>
        <h5>Посыпать тертым сыром, запечь в духовке при температуре 200 градусов, время приготовления – около сорока минут.</h5>
</div>

<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Meet ">Вернуться к рецептам</a>
</div>

{% endblock %}