{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>У головок чеснока срезать верхушки, овощи поместить на лист фольги,
            посолить и сбрызнуть оливковым маслом.</h5>
    <h2>ШАГ 2</h2>
        <h5>Каждую головку завернуть в фольгу по отдельности.</h5>
    <h2>ШАГ 3</h2>
        <h5>Поставить в разогретую духовку, печь в течение 12 – 15 минут до мягкости.</h5>
    <h2>ШАГ 4</h2>
        <h5>Вынуть, отставить в сторону.</h5>
    <h2>ШАГ 5</h2>
        <h5>В кастрюле среднего размера разогреть оливковое масло,
            добавить нарезанный кубиками репчатый лук и потомить до мягкости.</h5>
    <h2>ШАГ 6</h2>
        <h5>Выдавить печеный чеснок, добавить цедру лимона и кубики цукини.</h5>
    <h2>ШАГ 7</h2>
        <h5>Залить водой, овощи должны быть полностью покрыты, варить до мягкости кабачка.</h5>
    <h2>ШАГ 8</h2>
        <h5>Влить сливки, довести до кипения, снять с огня.</h5>
    <h2>ШАГ 9</h2>
        <h5>Всыпать рубленую зелень петрушки и тертый сыр «Пармезан».</h5>
    <h2>ШАГ 10</h2>
        <h5>Все вместе взбить до однородного состояния с помощью блендера.</h5>
    <h2>ШАГ 11</h2>
        <h5>Накрыть суп крышкой и оставить на пять минут для настаивания.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}