{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Сварить бульон из куска говядины с косточкой.</h5>
    <h2>ШАГ 2</h2>
        <h5>Порезать свеклу соломкой.</h5>
    <h2>ШАГ 3</h2>
        <h5>Тушить в воде под крышкой, добавив уксус.</h5>
    <h2>ШАГ 4</h2>
        <h5>В практически готовую свеклу положить томатную пасту, потушить еще чуть-чуть.</h5>
    <h2>ШАГ 5</h2>
        <h5>Мясо порезать соломкой.</h5>
    <h2>ШАГ 6</h2>
        <h5>Порезать морковь и лук, обжарить до золотистого цвета.</h5>
    <h2>ШАГ 7</h2>
        <h5>В конце насыпать муку.</h5>
    <h2>ШАГ 8</h2>
        <h5>Порезать сало на маленькие кусочки, растереть с чесночком.</h5>
    <h2>ШАГ 9</h2>
        <h5>Наполнить горшочки подготовленными ингредиентами, насыпать специи, залить бульоном.</h5>
    <h2>ШАГ 10</h2>
        <h5>Отправить борщ в духовку, довести до готовности.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}