{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>В кастрюлю налить 3 литра воды, закипятить.</h5>
    <h2>ШАГ 2</h2>
        <h5>Промыть в холодной воде рыбу, порезать на большие кусочки.</h5>
    <h2>ШАГ 3</h2>
        <h5>Помыть и почистить картофель, лук, морковь, петрушку.</h5>
    <h2>ШАГ 4</h2>
        <h5>Порезать картофель на большие кусочки, морковь соломкой.</h5>
    <h2>ШАГ 5</h2>
        <h5>Разрезать корень петрушки на 4 части, лук проткнуть в двух местах ножом.</h5>
    <h2>ШАГ 6</h2>
        <h5>Закипевшую воду посолить.</h5>
    <h2>ШАГ 7</h2>
        <h5>ЗПоложить овощи.</h5>
    <h2>ШАГ 8</h2>
        <h5>Варить 10 минут, чтобы картофель был практически готов.</h5>
    <h2>ШАГ 9</h2>
        <h5>Положить перец горошком, лавровый лист. Варить несколько минут.</h5>
    <h2>ШАГ 10</h2>
        <h5>Положить в кастрюлю рыбу, варить 8 минут.</h5>
    <h2>ШАГ 11</h2>
        <h5>Помыть укроп, положить в суп.</h5>
    <h2>ШАГ 12</h2>
        <h5>Если нужно, досолить суп.</h5>
    <h2>ШАГ 13</h2>
        <h5>Варить еще 2 минуты. Выключить огонь.</h5>
    <h2>ШАГ 14</h2>
        <h5>Дать ухе из лосося настояться несколько минут, достать лук и корень петрушки.</h5>
    <h2>ШАГ 15</h2>
        <h5>Положить в тарелки по кусочку лимона, кусок рыбы, морковь, картофель.</h5>
    <h2>ШАГ 16</h2>
        <h5>Разлить по тарелкам бульон, дать настояться 2 минуты.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}