{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час 30 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Отварить мясо целым куском, удалить пену, положить в бульон не разрезая морковь и луковицу,
            заправить бульон лавровым листом, горошками черного перца, посолить, сделать минимальный нагрев,
            прикрыть крышкой и готовить до размягчения мяса.</h5>
    <h2>ШАГ 2</h2>
        <h5>Нашинковать капусту и лук, мелко нарезать сладкий перец, помидоры, грибы – ломтиками.</h5>
    <h2>ШАГ 3</h2>
        <h5>Убрать из кастрюли луковицу и выкинуть, морковь нарезать кубиками, вынуть и нарезать брусочками мясо,
            положить морковь и мясо обратно в щи, добавить грибы, капусту с перцем и лук, поставить варить.</h5>
    <h2>ШАГ 4</h2>
        <h5>Добавить в конце варки чеснок и измельченную зелень, попробовать щи с шампиньонами и мясом, и если надо,
            то подсолить, заправить при подаче в тарелках сметаной.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}