{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Нарезать морковь кружочками, если толстая – половинками кружков.</h5>
    <h2>ШАГ 2</h2>
        <h5>Мелко порубить очищенный репчатый лук и чеснок.</h5>
    <h2>ШАГ 3</h2>
        <h5>Обжарить половину нормы лука и весь чеснок до румяного цвета на оливковом масле.</h5>
    <h2>ШАГ 4</h2>
        <h5>Залить овощи куриным бульоном, всыпать морковь.</h5>
    <h2>ШАГ 5</h2>
        <h5>Выдавить чеснок, добавить оставшийся лук, мускатный орех и острый перец.</h5>
    <h2>ШАГ 6</h2>
        <h5>Добавить фарш, перемешать.</h5>
    <h2>ШАГ 7</h2>
        <h5>Мокрыми руками сформовать маленькие шарики, диаметр – один сантиметр.</h5>
    <h2>ШАГ 8</h2>
        <h5>После закипания супа огонь убавить, всыпать тефтели.</h5>
    <h2>ШАГ 9</h2>
        <h5Они не должны слипнуться и быстро всплывут.</h5>
    <h2>ШАГ 10</h2>
        <h5>Пену снимать ложкой.</h5>
    <h2>ШАГ 11</h2>
        <h5>Как только морковь станет мягкой – всыпать зеленый горошек, потушить две минуты и погасить огонь.</h5>
    <h2>ШАГ 12</h2>
        <h5>Накрыть кушанье крышкой, дать постоять 20 минут.</h5>
    <h2>ШАГ 13</h2>
        <h5>Суп можно подать со свежим хлебом или грубыми кусками батона.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}