{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Куриную грудку нарезать небольшими кубиками,
            выложить в кастрюлю с толстым дном на разогретое оливковое масло. Жарить в течение 10 минут.</h5>
    <h2>ШАГ 2</h2>
        <h5>Влить воду или заранее приготовленный куриный бульон.</h5>
    <h2>ШАГ 3</h2>
        <h5>Добавить нарезанную тонкими кружками морковь, мелко измельченный репчатый лук,
            всыпать бурый рис и рубленую зелень петрушки.</h5>
    <h2>ШАГ 4</h2>
        <h5>Соль и перец – по вкусу.</h5>
    <h2>ШАГ 5</h2>
        <h5>Кастрюлю с супом накрыть крышкой, довести до кипения, огонь убавить,
            продолжать варить смесь до готовности риса, примерно в течение 40 минут.</h5>
    <h2>ШАГ 6</h2>
        <h5>Готовый суп разлить в тарелки, украсить листочками петрушки.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Soups ">Вернуться к рецептам</a>
</div>

{% endblock %}