{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 25 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>СВзбить в блендере сок и мякоть ананаса, влить кокосовое молоко (можно заменить ананасовым ликером),
            смешать все до однородности, перелить в графин.</h5>
    <h2>ШАГ 2</h2>
        <h5>Измельчить блендером лед, добавить сироп, перемешать все до однородности,
            вылить к смеси в графин и добавить ром.</h5>
     <h2>ШАГ 3</h2>
        <h5>Коктейль ромовый «Пина Колада» разлить по бокалам, верх украсить ломтиком ананаса,
            вставить соломинку и сразу подавать.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Cocktail">Вернуться к рецептам</a>
</div>

{% endblock %}