{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 20 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Нагреть молоко в кастрюле, положить разрезанный вдоль стручок ванили, позже его нужно будет вынуть.</h5>
    <h2>ШАГ 2</h2>
        <h5>Банан превратить в пюре с помощью блендера.</h5>
    <h2>ШАГ 3</h2>
        <h5>Прогреть молоко, добавить банановую массу, продолжать нагревать.</h5>
    <h2>ШАГ 4</h2>
        <h5>Поломать горький шоколад, выложить его в кастрюлю с напитком.</h5>
    <h2>ШАГ 5</h2>
        <h5>Массу перемешать, шоколад должен полностью раствориться, смесь – стать однородной.</h5>
    <h2>ШАГ 6</h2>
        <h5>Коктейль снять с огня, разлить в чашки.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Cocktail ">Вернуться к рецептам</a>
</div>

{% endblock %}