{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 3 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Пиво без водки - деньги на ветер! Жизнь хороша, если выпить Ерша!</h5>
    <h2>ШАГ 2</h2>
        <h5>Смешиваем 0.045 литра пиваи 0.005 литра водки</h5>
    <h2>ШАГ 3</h2>
        <h5>Ставим в холодильник на 2-3 часа для придания получившейся массе нужной консистенции.</h5>
    <h2>ШАГ 4</h2>
        <h5>Пьется пивной Ерш, по сути, точно так же, как пиво. Но при этом, конечно же, лучше не забывать,
            что в пиво добавлена водка и, не слишком, увлекаться. И это без сомнения изумительный напиток, в том смысле,
            что под его воздей ствием, изумляешь и поражаешь родных, друзей и просто окружающих тебя людей.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Cocktail">Вернуться к рецептам</a>
</div>

{% endblock %}