{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 20 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Несколько листочков мяты отложите для украшения, остальные нарежьте и посыпьте сахаром. Перемешайте.</h5>
    <h2>ШАГ 2</h2>
        <h5>Из 2-х лаймов выжмите сок, а третий нарежьте тонкими кружочками. Добавьте к мяте и сахару лаймовый сок.</h5>
    <h2>ШАГ 3</h2>
        <h5>Получившуюся массу распределите по 2-м бокалам, добавьте ломтики лайма, влейте яблочный сок и тоник.
            Подайте с кубиками льда, украсив веточками мяты.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Cocktail ">Вернуться к рецептам</a>
</div>

{% endblock %}