{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 25 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Белки взбить при помощи миксера, всыпать сахар, ванилин из пакетика, лимонную кислоту.</h5>
    <h2>ШАГ 2</h2>
        <h5>Поставить смесь на водяную баню, взбивать миксером при кипении воды в течение 10 – 15 минут.</h5>
    <h2>ШАГ 3</h2>
        <h5>Когда крем начнет прилипать на венчик – кастрюлю снять, взбивать массу еще три или четыре минуты.</h5>
    <h2>ШАГ 4</h2>
        <h5>Остудить, добавить красители.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Desserts">Вернуться к рецептам</a>
</div>

{% endblock %}