{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 30 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Измельчить печенье, порубить обжаренные орехи,
            растереть творог со сливочным маслом и разделить его на одинаковые три части.</h5>
    <h2>ШАГ 2</h2>
        <h5>В одну треть добавить какао, в другую - орехи, в оставшуюся – крошку из печенья.</h5>
    <h2>ШАГ 3</h2>
        <h5>Скатать из ореховой части шарик, завернуть его в творог с печеньем, а потом – в творог с какао,
            полученный шарик погрузить в сгущенку, а потом – в кокосовую стружку.</h5>
    <h2>ШАГ 4</h2>
        <h5>Готовые творожно-ореховые шарики в кокосовой стружке разложить на блюде в один слой.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Desserts">Вернуться к рецептам</a>
</div>

{% endblock %}