{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 50 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Взболтать яйца с сахаром, влить молоко, растопленное масло, всыпать муку,
            вымесить тесто, разделить на 3 части, обернуть пленкой, убрать в морозилку.</h5>
    <h2>ШАГ 2</h2>
        <h5>Крупно натереть тесто, выложить на промазанный маслом пергамент тонким слоем,
            испечь несколько коржей при 160 градусах до темно золотистого цвета.</h5>
    <h2>ШАГ 3</h2>
        <h5>Для приготовления торта порубить обжаренные орехи,
            руками размять крошу, перемешать все с вареной сгущенкой, выложить в глубокую тарелку.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Desserts ">Вернуться к рецептам</a>
</div>

{% endblock %}