{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 30 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Включить и прогреть до 180 градусов духовку. Перемешать шоколад, масло, сахарную пудру,
            соединить с желтками, сахарный песок взбить с белками, объединить с шоколадной массой.
            Заполнить полученной смесью форму, выпекать порядка 20 минут, дать остыть.</h5>
    <h2>ШАГ 2</h2>
        <h5>ШАГ 2
Для крема перемешать молоко с сахаром, желтками, солью, взбить до получения густой массы на паровой бане.
            Разбухший желатин залить теплым молоком, добавить пасту из фисташек, влить коньяк,
            взбить до однородности, остудить, перемешать со взбитыми сливками.</h5>
    <h2>ШАГ 3</h2>
        <h5>Прогреть конфитюр, перемешать с коньяком, смазать остывший корж, выложить фисташковый крем,
            убрать десерт на час в холодильник.</h5>
    <h2>ШАГ 4</h2>
        <h5>Прогреть 80 г сливок на слабом огне, всыпать кусочки молочного шоколада, ванильный сахар, нугу, подсолить,
            перемешать, кипеть не давать. Дать желатину набухнуть в воде 10 минут, отжать, соединить с теплыми сливками.
            Сахар взбить с оставшимися сливками, всыпать орехи. Аккуратно перемешать сливки с шоколадной массой.</h5>
    <h2>ШАГ 5</h2>
        <h5>Достать из холодильника хорошо остывшую форму,
            покрыть фисташковый крем слоем шоколадного и убрать еще раз на час в холодильник.</h5>
    <h2>ШАГ 6</h2>
        <h5>Разбухший желатин залить подогретыми сливками, всыпать какао, добавить черный шоколад и масло,
            перемешать в однородную массу. Довести до кипения воду с сахаром, проварить пару-тройку
            перемешать с шоколадной массой, дать хорошо остыть, покрыть глазурью верх торта.</h5>

</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Desserts ">Вернуться к рецептам</a>
</div>

{% endblock %}