{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 45 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Перемешать пшеничную муку, какао-порошок, пищевую соду и соль.</h5>
    <h2>ШАГ 2</h2>
        <h5>Растопить сливочное масло, добавить в теплое молоко вместе с уксусом и ванильным экстрактом.
            Всыпать сухую смесь ингредиентов и замесить тесто.</h5>
    <h2>ШАГ 3</h2>
        <h5>Дно двух разъемных форм застелить пергаментом, бока смазать маслом.
            Тесто выложить поровну, разровнять.</h5>
    <h2>ШАГ 4</h2>
        <h5>Печь в заранее разогретой духовке в течение 15 – 20 минут при температуре 180 градусов.
            Проверить готовность с помощью спички или зубочистки.</h5>
    <h2>ШАГ 5</h2>
        <h5>Размягченное масло с сахаром взбить, добавить сметану, сахарную пудру и ванильный экстракт,
            взбить до однородного состояния.</h5>
    <h2>ШАГ 6</h2>
        <h5>Готовые коржи остудить в формах в течение 10 минут, выложить на пергамент.
            На остывшую основу выложить половину крема с помощью кондитерского мешка.</h5>
    <h2>ШАГ 7</h2>
        <h5>Сверху положить половину нормы консервированной вишни в густом сиропе. Накрыть вторым коржом,
            процедуру повторить. Дать постоять торту в холодильнике один час.</h5>

</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Desserts ">Вернуться к рецептам</a>
</div>

{% endblock %}