{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Отварить морковь и картофель, остудить, очистить от кожуры.</h5>
    <h2>ШАГ 2</h2>
        <h5>Натереть на терке.</h5>
    <h2>ШАГ 3</h2>
        <h5>Копченую или отварную колбасу нарезать кубиками небольшого размера.</h5>
    <h2>ШАГ 4</h2>
        <h5>Точно так же нарезать свежие или соленые огурцы.</h5>
    <h2>ШАГ 5</h2>
        <h5>Лук-порей покрошить мелкими дольками.</h5>
    <h2>ШАГ 6</h2>
        <h5>Можно использовать репчатый лук, его нужно нарезать кубиками,
            оставить на двадцать минут в ледяной воде для удаления горечи.</h5>
    <h2>ШАГ 7</h2>
        <h5>Куриные яйца отварить и натереть. Один белок оставить для украшения.</h5>
    <h2>ШАГ 8</h2>
        <h5>На дно большой плоской салатницы выложить натертый картофель, соль и перец – по вкусу.</h5>
    <h2>ШАГ 9</h2>
        <h5>Оформить слой в виде головы кошки или тигра с ушками и круглой головой.</h5>
    <h2>ШАГ 10</h2>
        <h5>Смазать майонезом.</h5>
    <h2>ШАГ 11</h2>
        <h5>Второй слой – колбаса, майонез.</h5>
    <h2>ШАГ 12</h2>
        <h5>Далее – слой огурцов, посолить, если продукт свежий, майонез.</h5>
    <h2>ШАГ 13</h2>
        <h5>Следующий слой – лук, отварные яйца с майонезом.</h5>
    <h2>ШАГ 14</h2>
        <h5>Верхний слой – тертая отварная морковь, слой уплотнить.</h5>
    <h2>ШАГ 15</h2>
        <h5>Маслины нарезать полосками.</h5>
    <h2>ШАГ 16</h2>
        <h5>Глаза и щеки тигра сделать из яичного белка, вырезать из маслин нос и ресницы.</h5>
    <h2>ШАГ 17</h2>
        <h5>Рот сделать из колбасы, зрачки - из огурца. Полоски на щеках и лбу – из маслин.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Salads ">Вернуться к рецептам</a>
</div>

{% endblock %}