{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Свеклу отварить или запечь в фольге. Время – сорок минут, температура – 180 градусов.</h5>
    <h2>ШАГ 2</h2>
        <h5>Готовый продукт остудить и почистить, натереть на крупной терке.</h5>
    <h2>ШАГ 3</h2>
        <h5>Чеснок пропустить через пресс.</h5>
    <h2>ШАГ 4</h2>
        <h5>Маринованный имбирь мелко нарубить.</h5>
    <h2>ШАГ 5</h2>
        <h5>Продукты перемешать, заправить маринадом от имбиря.</h5>
    <h2>ШАГ 6</h2>
        <h5>Заправить закуску майонезом, выложить на тарелку через кулинарное кольцо.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Salads ">Вернуться к рецептам</a>
</div>

{% endblock %}