{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 40 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Отвариваем:
        - куриную печень (бросаем в кипящую воду на 5-7 минут, если дольше, то она будет жёсткой),
        - морковь (30 минут, пока не станет мягкой)
        - яйца вкрутую (10 минут).</h5>
    <h2>ШАГ 2</h2>
        <h5>Пока все варится - трем сыр</h5>
    <h2>ШАГ 3</h2>
        <h5>Берём съёмную форму (или делаем сами из фольги, как показано в видео),
            кладём на тарелку и нарезаем слоями яйца, печень, морковь.
            Каждый слой солим, перчим и поливаем майонезом.</h5>
    <h2>ШАГ 4</h2>
        <h5>Сверху посыпаем тёртым сыром.
            Пусть салат пропитается минимум час, подаём на стол.
            Приятного аппетита!</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Salads ">Вернуться к рецептам</a>
</div>
{% endblock %}