{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 40 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Куриные грудки замариновать и обжарить на прогретой сковороде,
            время – по семь-восемь минут с каждой стороны. Остудить.</h5>
    <h2>ШАГ 2</h2>
        <h5>ТПриготовить заправку из яичных желтков, рубленых анчоусов, горчицы, винного уксуса, тертого чеснока.</h5>
    <h2>ШАГ 3</h2>
        <h5>Перемешать, добавить оливковое масло.</h5>
    <h2>ШАГ 4</h2>
        <h5>Влить немного «Вустерского» соуса, лимонного сока, посолить, перемешать.</h5>
    <h2>ШАГ 5</h2>
        <h5>Нарезать кубиками хлеб, выложить на противень, посолить, побрызгать оливковым маслом,
            поставить в духовой шкаф.</h5>
    <h2>ШАГ 6</h2>
        <h5>Печь при температуре 180 градусов.</h5>
    <h2>ШАГ 7</h2>
        <h5>Нарезать куриное мясо, салат «Латук».</h5>
    <h2>ШАГ 8</h2>
        <h5>Нарезать куриное мясо, салат «Латук».</h5>
    <h2>ШАГ 9</h2>
        <h5>Салат выложить на порционные тарелки. Украсить оставшимися гренками, анчоусами,
            посыпать тертым сыром «Пармезан».</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Salads ">Вернуться к рецептам</a>
</div>

{% endblock %}