{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 30 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Красный лук нарезаем четверть кольцами. Яблоко нарезаем кубиками. К луку добавляем яблоко.</h5>
    <h2>ШАГ 2</h2>
        <h5>Нарезаем также соленые огурчики. Добавляем их к яблоку и луку.</h5>
    <h2>ШАГ 3</h2>
        <h5>Нарезаем лук и всю зелень. Зелень добавляем к нашему салату.</h5>
    <h2>ШАГ 4</h2>
        <h5>И займемся теперь селедкой. Обязательно очищаем селедку от тонкой шкурки. Удаляем все кости.
            Нам понадобится только очищенное филе.</h5>
    <h2>ШАГ 5</h2>
        <h5>Филе сельди нарезаем кубиками. Селедку добавляем к салату.
            Также добавляем молотый черный перец по вкусу.</h5>
    <h2>ШАГ 6</h2>
        <h5>Для заправки салата будем использовать сметану. Хорошо перемешиваем немецкий салат.
            Наша селедка по-баварски готова. Приятного аппетита!</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Salads ">Вернуться к рецептам</a>
</div>

{% endblock %}