{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Для семейного стола утку можно не очищать от костей.</h5>
    <h2>ШАГ 2</h2>
        <h5>Отделить реберные кости, верхние фаланги крылышек, шею.</h5>
    <h2>ШАГ 3</h2>
        <h5>Удалить из хвоста сальные железы.</h5>
    <h2>ШАГ 4</h2>
        <h5>Ножки оставить целыми, мякоть посолить, нарезать порциями.</h5>
    <h2>ШАГ 5</h2>
        <h5>Нарубить корень петрушки, пастернака, лук, морковь.</h5>
    <h2>ШАГ 6</h2>
        <h5>Овощи подрумянить на масле.</h5>
    <h2>ШАГ 7</h2>
        <h5>Добавить мясо утки, кожа должна быть внизу.</h5>
    <h2>ШАГ 8</h2>
        <h5>Прогревать до выпаривания жидкости.</h5>
    <h2>ШАГ 9</h2>
        <h5>Всыпать муку между кусочками, пассеровать две минуты.</h5>
    <h2>ШАГ 10</h2>
        <h5>Влить горячую воду, продукты перемешать, довести до кипения, тушить под крышкой сорок минут.</h5>
    <h2>ШАГ 11</h2>
        <h5>В конце приготовления блюдо досолить, поперчить, добавить промытый чернослив, лавровый лист, гвоздику.</h5>
    <h2>ШАГ 12</h2>
        <h5>Тушить блюдо без крышки пятнадцать минут.</h5>

</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Bird ">Вернуться к рецептам</a>
</div>

{% endblock %}