{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 30 мин + 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Тушку средних размеров промыть, удалить остатки перьев.</h5>
    <h2>ШАГ 2</h2>
        <h5>Ошпарить кипящей водой, обсушить бумажным полотенцем.</h5>
    <h2>ШАГ 3</h2>
        <h5>Перемешать в миске соль и приправы, натереть мясо, оставить на полчаса или час для пропитывания.</h5>
    <h2>ШАГ 4</h2>
        <h5>Кисло-сладкие плотные яблоки промыть, разрезать пополам или на четвертинки, удалить плодоножку, сердцевину.</h5>
    <h2>ШАГ 5</h2>
        <h5>Тушку нафаршировать яблоками. Отверстие скрепить зубочисткой.</h5>
    <h2>ШАГ 6</h2>
        <h5>Выложить птицу на противень, поставить в духовой шкаф.</h5>
    <h2>ШАГ 7</h2>
        <h5>Время запекания – сорок минут, температура – 170 градусов. Жарить до получения корочки.</h5>
    <h2>ШАГ 8</h2>
        <h5>Нарезать картофель дольками, посолить и поперчить.</h5>
    <h2>ШАГ 9</h2>
        <h5>Убрать с противня птицу, выложить дольки, сверху – утку другой стороной.</h5>
    <h2>ШАГ 10</h2>
        <h5>Печь от сорока до пятидесяти минут, температура та же.</h5>
    <h2>ШАГ 11</h2>
        <h5>Перемешать в миске мед и соевый соус. Смазать утку для глазури.</h5>
    <h2>ШАГ 12</h2>
        <h5>Печь около получаса, готовность тушки проверить шпажкой.</h5>
    <h2>ШАГ 13</h2>
        <h5>Огонь погасить, блюдо подержать в закрытом духовом шкафу двадцать минут.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Bird ">Вернуться к рецептам</a>
</div>

{% endblock %}