{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Куриную тушку разделать, очистить от внутренностей, убрать остатки перьев.</h5>
    <h2>ШАГ 2</h2>
        <h5>Тушку вымыть, обсушить, разделить на десять частей. Спинку и шейку не использовать.</h5>
    <h2>ШАГ 3</h2>
        <h5>Очистить кусочки курицы от кожицы.</h5>
    <h2>ШАГ 4</h2>
        <h5>Морковь и картофель вымыть, очистить, нарезать кубиками.</h5>
    <h2>ШАГ 5</h2>
        <h5>Репчатый лук покрошить тонкими полукольцами.</h5>
    <h2>ШАГ 6</h2>
        <h5>Раздавить чеснок.</h5>
    <h2>ШАГ 7</h2>
        <h5>Зелень порубить ножом.</h5>
    <h2>ШАГ 8</h2>
        <h5>Прогреть на огне сковороду, добавить растительное масло, обжарить курицу до румяной корочки.</h5>
    <h2>ШАГ 9</h2>
        <h5>На дно кастрюли или казана выложить мясо.</h5>
    <h2>ШАГ 10</h2>
        <h5>На сковороде, где обжаривалась курица, обжарить картофель до золотистого оттенка.</h5>
    <h2>ШАГ 11</h2>
        <h5>Добавить картофель в казанок.</h5>
    <h2>ШАГ 12</h2>
        <h5>Посолить, поперчить, добавить другие специи.</h5>
    <h2>ШАГ 13</h2>
        <h5>Выложить морковь, репчатый лук, картофель. Посолить.</h5>
    <h2>ШАГ 14</h2>
        <h5>Влить кипящую воду.</h5>
    <h2>ШАГ 15</h2>
        <h5>Прогреть духовой шкаф до 200 градусов.</h5>
    <h2>ШАГ 16</h2>
        <h5>Закрыть емкость крышкой, отправить в духовку на час.</h5>
    <h2>ШАГ 17</h2>
        <h5>Вынуть емкость из духовки, добавить чеснок, зелень, все перемешать.</h5>
    <h2>ШАГ 18</h2>
        <h5>Вернуть блюдо в духовой шкаф еще на полчаса. Разложить жаркое на тарелки.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Bird ">Вернуться к рецептам</a>
</div>
{% endblock %}