{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Приготовить куриный фарш, посолить, добавить приправы.</h5>
    <h2>ШАГ 2</h2>
        <h5>Добавить крахмал, вымесить.</h5>
    <h2>ШАГ 3</h2>
        <h5>Несладкие кукурузные хлопья измельчить скалкой в крошку.</h5>
    <h2>ШАГ 4</h2>
        <h5>Насыпать в небольшую мисочку.</h5>
    <h2>ШАГ 5</h2>
        <h5>Отдельно взболтать яйца с перцем и солью.</h5>
    <h2>ШАГ 6</h2>
        <h5>Масло раскалить на сковороде на среднем огне.</h5>
    <h2>ШАГ 7</h2>
        <h5>Сформовать котлеты, внутрь поместить по кусочку мягкого сыра.</h5>
    <h2>ШАГ 8</h2>
        <h5>Обвалять в крахмале, затем обмакнуть в яйцо, обвалять в хлопьях.</h5>
    <h2>ШАГ 9</h2>
        <h5>Жарить на сковороде по несколько минут с каждой стороны.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Bird ">Вернуться к рецептам</a>
</div>

{% endblock %}