{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/cocktail1"><img src="/static/img/res_cock/cocktail1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/cocktail4"><img src="/static/img/res_cock/cocktail4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/cocktail2"><img src="/static/img/res_cock/cocktail2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/cocktail5"><img src="/static/img/res_cock/cocktail5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/cocktail3"><img src="/static/img/res_cock/cocktail3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/cocktail6"><img src="/static/img/res_cock/cocktail6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}