{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/dessert1"><img src="/static/img/res_dess/dessert1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/dessert4"><img src="/static/img/res_dess/dessert4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/dessert2"><img src="/static/img/res_dess/dessert2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/dessert5"><img src="/static/img/res_dess/dessert5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/dessert3"><img src="/static/img/res_dess/dessert3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/dessert6"><img src="/static/img/res_dess/dessert6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}