{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/fish1"><img src="/static/img/res_fish/fish1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/fish4"><img src="/static/img/res_fish/fish4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/fish2"><img src="/static/img/res_fish/fish2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/fish5"><img src="/static/img/res_fish/fish5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/fish3"><img src="/static/img/res_fish/fish3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/fish6"><img src="/static/img/res_fish/fish6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}