{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/meet1"><img src="/static/img/res_meet/meet1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/meet4"><img src="/static/img/res_meet/meet4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/meet2"><img src="/static/img/res_meet/meet2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/meet5"><img src="/static/img/res_meet/meet5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/meet3"><img src="/static/img/res_meet/meet3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/meet6"><img src="/static/img/res_meet/meet6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}