{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/salad1"><img src="/static/img/res_salad/salad1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/salad4"><img src="/static/img/res_salad/salad4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/salad2"><img src="/static/img/res_salad/salad2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/salad5"><img src="/static/img/res_salad/salad5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/salad3"><img src="/static/img/res_salad/salad3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/salad6"><img src="/static/img/res_salad/salad6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}