{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>

<p><a href="http://127.0.0.1:5000/soup1"><img src="/static/img/res_soup/soup1.jpg" width="400"
   height="280" alt="Пример"></a>
    <a  href="http://127.0.0.1:5000/soup4"><img src="/static/img/res_soup/soup4.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/soup2"><img src="/static/img/res_soup/soup2.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/soup5"><img src="/static/img/res_soup/soup5.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

<p><a href="http://127.0.0.1:5000/soup3"><img src="/static/img/res_soup/soup3.jpg" width="400"
   height="280" alt="Пример"></a>
<a  href="http://127.0.0.1:5000/soup6"><img src="/static/img/res_soup/soup6.jpg" width="400"
   height="280" alt="Пример" style="float:right"></a></p>

{% endblock %}