{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Порезать филе белой рыбки на маленькие куски, соединить с мукой, яйцами, сахаром, измельченным луком,
            измельченной зеленью, посыпать перцем, солью.</h5>
    <h2>ШАГ 2</h2>
        <h5>Перемешать руками, фарш должен быть легким и плотным.</h5>
    <h2>ШАГ 3</h2>
        <h5>Отправить минут на шестьдесят в холодильник.</h5>
    <h2>ШАГ 4</h2>
        <h5>Слепить маленькие котлетки, обвалять в сухариках.</h5>
    <h2>ШАГ 5</h2>
        <h5>Жарить английские рыбные котлеты в сухарях по семь минут на каждой стороне.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Fish">Вернуться к рецептам</a>
</div>

{% endblock %}