{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 40 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Порезать груши и киви на кубики, измельчить мяту и лук.</h5>
    <h2>ШАГ 2</h2>
        <h5>Сложить порезанные фрукты и зелень в посуду, положить вяленую клюкву,
            заправить взбитым соусом из меда и сока лимона.</h5>
    <h2>ШАГ 3</h2>
        <h5>Посыпать перцем, солью, перемешать.</h5>
    <h2>ШАГ 4</h2>
        <h5>Отставить сальсе минут на тридцать, помешивать время от времени.</h5>
    <h2>ШАГ 5</h2>
        <h5>Посыпать стейки семги перцем, солью с двух сторон,
            жарить по три минуты с каждой стороны на сухой сковороде.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Fish ">Вернуться к рецептам</a>
</div>

{% endblock %}