{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 50 минут</h2>
    <h2>ШАГ 1</h2>
        <h5>Филе лосося хорошо промыть в холодной воде, обсушить, натереть приправами и солью.</h5>
    <h2>ШАГ 2</h2>
        <h5>Налить немного масла на сковороду-гриль, прогреть.</h5>
    <h2>ШАГ 3</h2>
        <h5>Время обжаривания рыбы – от десяти до пятнадцати минут. Продукт должен подрумяниться.</h5>
    <h2>ШАГ 4</h2>
        <h5>Снять с огня.</h5>
    <h2>ШАГ 5</h2>
        <h5>Прожарить отдельно муку до легкого потемнения.</h5>
    <h2>ШАГ 6</h2>
        <h5>Добавить кусочек сливочного масла, влить сливки, прогреть до закипания. В соусе не должно быть комков.</h5>
    <h2>ШАГ 7</h2>
        <h5>Добавить красную икру, перемешать.</h5>
    <h2>ШАГ 8</h2>
        <h5>Выложить рыбу на сковороду, влить соус, прогревать пять минут на тихом огне.</h5>
    <h2>ШАГ 9</h2>
        <h5>Огонь погасить, блюдо оставить на пятнадцать минут.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Fish">Вернуться к рецептам</a>
</div>

{% endblock %}