{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 2 часа</h2>
    <h2>ШАГ 1</h2>
        <h5>Сегодня мы приготовим лосося в чесночно-медовой глазури. Для начала приготовим соус.
            Для этого смешаем в посуде растопленное сливочное масло, оливковое масло, сахар, соевый соус, мед, горчицу,
            чеснок, хлопья Чили и сок лайма,
            все хорошо перемешаем и положим лосося в соус и оставим его там на минут 20-30.</h5>
    <h2>ШАГ 2</h2>
        <h5>После положим в форму для запекания и зальём тем же соусом.</h5>
    <h2>ШАГ 3</h2>
        <h5>Поставим в духовку разогретую до 200 градусов на 15-17 минут.
            Периодически можно поливать соусом сам лосось. Готовую рыбу подавать с рисом</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Fish">Вернуться к рецептам</a>
</div>

{% endblock %}