{% extends "Core.html" %}
{% block content %}
<body background='/static/img/Preview.jpg'>
<div class="alert alert-warning" role="alert">
    <h2>Время приготовления: 1 час</h2>
    <h2>ШАГ 1</h2>
        <h5>Рыбу очистить, нарезать на кусочки по четыре или пять сантиметров.</h5>
    <h2>ШАГ 2</h2>
        <h5>Выложить продукт в емкость, выдавить лимонный сок, посолить.</h5>
    <h2>ШАГ 3</h2>
        <h5>По желанию добавить пряности, приправы. Лучший вариант – тмин или молотый перец.</h5>
    <h2>ШАГ 4</h2>
        <h5>В глубокую мисочку всыпать муку и перемешать ее с яйцом.</h5>
    <h2>ШАГ 5</h2>
        <h5Вливать воду порциями, перемешивать. Масса должна по консистенции напоминать сметану.</h5>
    <h2>ШАГ 6</h2>
        <h5>Поставить сковороду на плиту, влить растительное масло.</h5>
    <h2>ШАГ 7</h2>
        <h5>Кусочки щуки обвалять в кляре, выложить на сковороду.</h5>
    <h2>ШАГ 8</h2>
        <h5>Жарить на среднем огне в течение двадцати минут.</h5>


</div>
<div class="alert alert-secondary" role="alert">
    <a class="alert-heading" href="http://127.0.0.1:5000/# ">На главную</a>
    <a class="alert-heading" style="float:right" href="http://127.0.0.1:5000/Fish">Вернуться к рецептам</a>
</div>

{% endblock %}